In [5]:
import pandas as pd
import tensorflow as tf
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,OneHotEncoder 
import pickle

In [6]:
df=pd.read_csv("Churn_Modelling.csv")

In [7]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
df.shape

(10000, 14)

In [9]:
df=df.drop(['Surname','RowNumber','CustomerId'],axis=1)

In [10]:
df.tail()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [11]:
label_encoder= LabelEncoder()
df['Gender']=label_encoder.fit_transform(df['Gender'])

In [12]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [13]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [14]:
ohe_encoder=OneHotEncoder()
ohe=ohe_encoder.fit_transform(df[['Geography']])

In [15]:
ohe.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [16]:
ohe=pd.DataFrame(ohe.toarray(),columns=ohe_encoder.get_feature_names_out(['Geography']))

In [17]:
ohe

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [18]:
df=pd.concat([df,ohe],axis=1)

In [19]:
df.shape

(10000, 14)

In [20]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,France,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,France,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [21]:
df=df.drop('Geography',axis=1)

In [22]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [23]:
df.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [24]:
# with open ('label_encoder.pkl','wb') as f:
#     pickle.dump(label_encoder,f)

In [25]:
# with open ('ohe_encoder.pkl','wb') as f:
#     pickle.dump(ohe_encoder,f)

In [26]:
x=df.drop('Exited',axis=1)
y=df['Exited']

In [27]:
x.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0

In [28]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [29]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [30]:
x_train.shape,x_test.shape

((8000, 12), (2000, 12))

In [31]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [32]:
x_train

array([[ 0.36487276,  0.92365511, -0.84698438, ..., -1.00300451,
         1.72229108, -0.57176909],
       [ 1.83924155, -1.0826552 , -1.32131271, ..., -1.00300451,
         1.72229108, -0.57176909],
       [-1.28477063, -1.0826552 ,  1.90411992, ...,  0.99700449,
        -0.58062195, -0.57176909],
       ...,
       [-0.91360086,  0.92365511, -0.18292472, ...,  0.99700449,
        -0.58062195, -0.57176909],
       [ 0.2823906 , -1.0826552 , -1.32131271, ..., -1.00300451,
        -0.58062195,  1.7489578 ],
       [-0.02691754, -1.0826552 ,  0.19653794, ..., -1.00300451,
         1.72229108, -0.57176909]])

In [33]:
x_test.shape

(2000, 12)

In [34]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

**ANN**

In [35]:
import tensorflow as tf
from tensorflow.keras.models  import Sequential
from tensorflow.keras.layers  import Dense
from tensorflow.keras.callbacks  import EarlyStopping,TensorBoard
import datetime

In [36]:
model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(x_train.shape[1],)))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

WARNING:tensorflow:From d:\machine_learning\DL\venv\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [37]:
model.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])

WARNING:tensorflow:From d:\machine_learning\DL\venv\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [38]:
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [39]:
early_stopping_cb= EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [40]:
model.fit(
    x_train, y_train,
    epochs=100,
    validation_data=(x_test, y_test),
    callbacks= [tensorflow_callback,early_stopping_cb]
)

Epoch 1/100
WARNING:tensorflow:From d:\machine_learning\DL\venv\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\machine_learning\DL\venv\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 5ms/step - loss: 0.4586 - accuracy: 0.7991 - val_loss: 0.4149 - val_accuracy: 0.8260
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3922 - accuracy: 0.8403 - val_loss: 0.3674 - val_accuracy: 0.8500
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3614 - accuracy: 0.8535 - val_loss: 0.3483 - val_accuracy: 0.8520
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3475 - accuracy: 0.8593 - val_loss: 0.3422 - val_accuracy: 0.8520
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3413 - accuracy: 0.8591 - val_loss: 0.3444 - val_accuracy: 0.8555
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3376 - accuracy: 0.8590 - val_loss: 0.3393 - val_accuracy: 0.8610
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3348 - accuracy: 0.8651 - val_loss: 0.3394 - val_accuracy: 0.8570
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3318 - accuracy: 0.8631 - val_loss: 0.3401 - val_accuracy: 0.8580
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3298 - accuracy: 0.8670 - val_loss: 0.3393 - val_accuracy: 0.8585
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3279 - accuracy: 0.8644 - val_loss: 0.3371 - val_accuracy: 0.8530
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3261 - accuracy: 0.8676 - val_loss: 0.3366 - val_accuracy: 0.8585
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3235 - accuracy: 0.8664 - val_loss: 0.3354 - val_accuracy: 0.8580
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3230 - accuracy: 0.8685 - val_loss: 0.3367 - val_accuracy: 0.8630
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3203 - accuracy: 0.8681 - val_loss: 0.3371 - val_accuracy: 0.8595
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3191 - accuracy: 0.8674 - val_loss: 0.3435 - val_accuracy: 0.8525
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3178 - accuracy: 0.8684 - val_loss: 0.3370 - val_accuracy: 0.8595
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3167 - accuracy: 0.8695 - val_loss: 0.3400 - val_accuracy: 0.8590

In [41]:
model.save('model.h5')

d:\machine_learning\DL\venv\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(