In [143]:
import pandas as pd
import tensorflow as tf
import numpy as np
from tensorflow.keras.models  import load_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,OneHotEncoder 
import pickle

In [144]:
model=load_model('model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [145]:
with open ('label_encoder.pkl','rb') as f:
   label_encoder= pickle.load(f)
with open ('ohe_encoder.pkl','rb') as f:
   ohe_encoder= pickle.load(f)
with open ('scaler.pkl','rb') as f:
   scaler= pickle.load(f)

In [146]:
input_data= {
    'CreditScore': 600,
    'Gender':'Male',
    'Geography':'France',
    'Age':40, 
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000, 
      

}

In [147]:
df=pd.DataFrame([input_data])

In [148]:
df

,CreditScore,Gender,Geography,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,Male,France,40,3,60000,2,1,1,50000

In [149]:
df['Gender']=label_encoder.transform(df['Gender'])

In [150]:
df

,CreditScore,Gender,Geography,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,1,France,40,3,60000,2,1,1,50000

In [151]:
ohe=ohe_encoder.transform(df[['Geography']])
ohe.toarray()
ohe=pd.DataFrame(ohe.toarray(),columns=ohe_encoder.get_feature_names_out(['Geography']))
df=pd.concat([df.drop(['Geography'],axis=1),ohe],axis=1)

In [152]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [153]:
input_scaled=scaler.transform(df)

In [154]:
input_scaled

array([[-0.52366179,  0.9056767 ,  0.10412182, -0.69424462, -0.26236592,
         0.81593495,  0.64550866,  0.96898085, -0.86236635,  1.00175153,
        -0.57850497, -0.57754272]])

In [159]:
prediction=model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step

In [164]:
prob=prediction[0][0]
prob

np.float32(0.036526848)

In [165]:
if prob>0.5:
    print('customer will exit')

else:
    print('customer will not exit')

customer will not exit